@{
    ViewData["Title"] = "RemovedItems";
}

<div class="overlay">
    <div class="centeredPopUP">
        <h2>The following items were removed from your cart</h2>
        <p>You did not meet the year level requirement to buy this product.</p>

        <h4>@ViewBag.RemoveItems</h4>

        <form asp-action="OpenCart" asp-controller="OrderItems">
            <input class="button" type="submit" value="My Cart" />
        </form>
    </div>
</div>

<style>
    body {
        margin: 0;
        padding: 0;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5); /* Optional dark overlay */
        z-index: 1000; /* Ensure it appears above other content */
    }

    .centeredPopUP {
        width: 60%;
        max-width: 600px; /* Limit max width */
        padding: 20px;
        background-color: #e0f2f1;
        border: 2px solid black;
        border-radius: 10px;
        font-size: 24px;
        color: black;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

        .centeredPopUP input[type="submit"] {
            background-color: black;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 18px;
            margin-top: 20px;
            cursor: pointer;
        }

    .button {
        font-size: 1rem;
        color: #fff;
        border: none;
        background-color: black;
        padding: 10px 30px;
        border-radius: 50px;
        transition: 0.3s;
        cursor: pointer;
    }

        .button:hover {
            padding: 10px 50px;
            color: black;
            background-color: white;
            border: solid 2px black;
        }
</style>
