<form asp-action="SubmitId" enctype="multipart/form-data">
    
    < <h2>Please Upload Student Id</h2>
    <label>File</label>


    <input type="file" name="IdFile" class="form-control" name="file" required />
    <span></span>
    <br />
    <br />

    <input type="submit" class="btn btn-default" value="Upload Image" name="submit" />


</form>






<!--This forms gahter infromation about the cusomter and thier gift. It passes the details to the ProcessOrder method in the OrderItems Controller-->
<form class="CheckoutForm" asp-controller="OrderItems" asp-action="ProcessOrder">



        <h1>

         Checkout

        </h1>
     

            <!--Hidden Input pass OrderId to controller-->
            <input name="orderId" value="@ViewBag.OrderId" type="hidden" />





           


            <br /> <br />




            <!--SVG image-->

           

           






        <h3>Please Enter Your Details</h3>



        <label for="FullName">Enter Your Full Name</label>

        <input type="text" id="FullName" name="fullName" required maxlength="29" title="Enter your Name" />

        <br />

        <label for="PhoneNumber">Enter Your Phone Number</label>

    
        <input type="text" name="recipientPhone" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" title="eg 0226565505 " required />

        <input vlaue="Go to Payment" type="submit" />



    </form>


</style>
<script>
   

  


</script>


    <<!--CSS CODE-->
    <style>

    .CheckoutForm {
        width: 90%;
        margin: 0 auto;
        background-color: #e0f2f1;
        padding: 20px;
        border-radius: 10px;
        padding: 5%;
    }



    label {
        font-weight: bold;
        color: gray;
    }



    input[type="text"],
    textarea {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        box-sizing: border-box;
        border: 2px solid black;
        border-radius: 5px;
    }



    input[type="submit"] {
        background-color: black;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }



        input[type="submit"]:hover {
            background-color: gray;
        }

    input[type="color"] {
        border-radius: 28px;
        height: 4vh;
        width: 3%;
        border: none;
        overflow: hidden;
    }


    textarea {
        border-radius: 28px;
        border-color: black;
    }






    @@media only screen and (max-Width: 1200px) {

        textarea {
            margin: auto;
            width: 100%;
        }
    }



    @@media only screen and (min-Width: 1200px) {



        textarea {
            margin: auto;
            width: 50%;
        }
    }


